<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjD6a-41JE0L1ytB0ABexmNrHQ98waoE8</string>
	<key>GCM_SENDER_ID</key>
	<string>528948528935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cau.photois.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>photois-e0f82</string>
	<key>STORAGE_BUCKET</key>
	<string>photois-e0f82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528948528935:ios:1abb04bdef16148d208b02</string>
</dict>
</plist>